## Project Details
We have data of temperatures at each hour of each day of a week from a region. We try to analyze and find patterns from the data.

In [1]:
#import numpy and matplotlib
import numpy as np
import matplotlib.pyplot as plt

In [35]:
#data of temperatures recorded in each day of a week at every hour (7x24) array
temps = np.array([
    [22.3, 21.8, 21.1, 20.7, 20.4, 21.0, 23.2, 25.5, 28.7, 31.2, 33.1, 34.0, 34.8, 35.1, 34.7, 33.9, 32.0, 29.6, 27.2, 25.1, 24.0, 23.1, 22.6, 22.0],
    [21.5, 21.0, 20.6, 20.2, 20.0, 20.8, 22.5, 24.7, 27.5, 30.3, 32.8, 33.5, 34.2, 34.7, 34.0, 33.2, 31.5, 29.0, 26.8, 24.7, 23.5, 22.8, 22.0, 21.7],
    [22.0, 21.5, 20.9, 20.5, 20.3, 21.0, 23.1, 25.4, 28.3, 31.0, 33.0, 34.1, 34.9, 35.2, 34.6, 33.8, 32.1, 29.5, 27.0, 25.0, 24.1, 23.0, 22.3, 21.9],
    [21.8, 21.2, 20.7, 20.3, 20.1, 20.9, 22.8, 25.0, 27.8, 30.6, 32.9, 33.7, 34.3, 34.8, 34.1, 33.4, 31.8, 29.3, 27.1, 25.2, 24.0, 23.2, 22.7, 22.1],
    [22.2, 21.7, 21.0, 20.6, 20.4, 21.1, 23.3, 25.7, 28.6, 31.4, 33.3, 34.2, 35.0, 35.4, 34.8, 33.9, 32.3, 29.8, 27.4, 25.3, 24.2, 23.4, 22.9, 22.3],
    [21.9, 21.4, 20.8, 20.4, 20.2, 20.9, 22.9, 25.2, 28.1, 30.8, 33.0, 33.8, 34.5, 35.0, 34.4, 33.6, 31.9, 29.4, 27.2, 25.1, 24.0, 23.1, 22.6, 22.0],
    [22.1, 21.6, 21.0, 20.5, 20.3, 21.0, 23.0, 25.3, 28.2, 31.0, 33.1, 34.0, 34.7, 35.2, 34.6, 33.8, 32.0, 29.6, 27.3, 25.2, 24.1, 23.2, 22.7, 22.2]
])

In [36]:
#average of each day in an array
mean = np.mean(temps, axis = 1)
print("Average temperature per day:", mean)

Average temperature per day: [26.9625     26.39583333 26.85416667 26.65833333 27.09166667 26.75833333
 26.90416667]

In [34]:
#max and min of the whole week + highest temps and lowest temps of each day
print("Max temperature in the week was:", temps.max())
print("Min temperature in the week was:", temps.min())
print("Highest temps of each day were:", temps.max(axis = 1))
print("Lowest temps of each day were:", temps.min(axis = 1))

Max temperature in the week was: 35.4
Min temperature in the week was: 20.0
Highest temps of each day were: [35.1 34.7 35.2 34.8 35.4 35.  35.2]
Lowest temps of each day were: [20.4 20.  20.3 20.1 20.4 20.2 20.3]

In [50]:
#The day and hour at which temp is above 35 degrees
days = np.array(np.where(temps > 35.0))
if days.size == 0:
    print("There are no temperatures recorded above 35 degrees")
else:
    for i in range(days[0].size):
        print(f"On day {days[0][i]+1}, at hour {days[1][i]}:00, the temperature was {temps[days[0][i], days[1][i]]}")

On day 1, at hour 13:00, the temperature was 35.1
On day 3, at hour 13:00, the temperature was 35.2
On day 5, at hour 13:00, the temperature was 35.4
On day 7, at hour 13:00, the temperature was 35.2

In [60]:
#The time at which highest temperature of each day was recorded
hours = np.array(np.argmax(temps, axis = 1))
for i in range(hours.size):
    print(f"On day {i+1}, at hour {hours[i]}:00, the temperature was highest at {temps[i, hours[i]]}")

On day 1, at hour 13:00, the temperature was highest at 35.1
On day 2, at hour 13:00, the temperature was highest at 34.7
On day 3, at hour 13:00, the temperature was highest at 35.2
On day 4, at hour 13:00, the temperature was highest at 34.8
On day 5, at hour 13:00, the temperature was highest at 35.4
On day 6, at hour 13:00, the temperature was highest at 35.0
On day 7, at hour 13:00, the temperature was highest at 35.2

Final analysis results: Temperature seems to be *highest* at time **1:00 pm** or 13:00 in the week.

### Plotting of findings to visualize results